@import "../Styles.scss";

.home {
}
.spaceBetween {
  height: 200px;
  width: 100%;
}
.carousel-inner > .item > .caption > h3 {
  //color: white;
  //background-color: #333;
  //opacity: 50%;
  //color: #ffffff;
  //font-size: 12px;
  //border-top: 1px solid #ef5350;
  //border-bottom: 1px solid #ef5350;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin: auto;
  width: 100%; // Add this
}

.gridWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  //stuff
  //border: 5px solid green;
}
.two {
  //stuff
  //border: 5px solid green;
}
.three {
  //stuff
  //border: 5px solid green;
}
.four {
  //stuff
  //border: 5px solid green;
}
.five {
  //stuff
  //border: 5px solid green;
}
.six {
  //stuff
  //border: 5px solid green;
}
img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  /*body {
    background-color: lightgreen;
  }*/
  .gridWrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
